:root {
    /* Палитра Чернолесья */
    --deep-forest: #1b261b;   /* Глубокая чаща */
    --moss: #4a5d23;          /* Мох */
    --swamp: #2d3a2d;         /* Болото */
    --foliage: #718355;       /* Листва */
    --fly-agaric: #a42424;    /* Мухомор (красный) */
    --chanterelle: #e9c46a;   /* Лисичка (оранжево-желтый) */
    --blueberry: #3a3a5e;     /* Черника (сине-фиолетовый) */
    --white-mushroom: #d4a373;/* Белый гриб (бежевый) */
    --text-light: #f1f1e6;    /* Светлая береста */
}

body {
    display: grid;
    grid-template-columns: 250px 1fr; /* Фиксированная ширина боковой панели */
    background: var(--deep-forest);
    color: var(--text-light);
    font-family: "Iosevka Charon", monospace;
    margin: 0;
    min-height: 100vh;
}

/* Боковая панель (Навигация) */
header {
    background-color: rgba(0, 0, 0, 0.3);
    border-right: 2px solid var(--moss);
    padding: 15px 0 0;
}

.block {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(113, 131, 85, 0.2);
    transition: all 0.3s ease;
}

.block:hover {
    background-color: var(--moss);
    padding-left: 35px; /* Эффект "выхода из тени" */
}

.active {
    background-color: var(--foliage);
    border-left: 5px solid var(--chanterelle);
}

a{
    text-decoration: none;
    color: #f1f1e6;
}

.header-title{
    text-align: center;
    font-size: 25px;
    background: url(logo.png);
    background-size: 100%;
    background-position: center;
    padding: 20px;
}
/* Значок питання */
.help-trigger {
    background: transparent;
    color: var(--white-mushroom);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    cursor: help;
    border: 2px dashed var(--white-mushroom);
    transition: 0.3s;
}

.help-trigger:hover {
    background: var(--foliage);
    color: var(--text-light);
    box-shadow: 0 0 15px var(--foliage);
}

/* Спливаюча підказка */
.help-tooltip {
    visibility: hidden;
    opacity: 0;
    width: 280px;
    background: #2e2721;
    color: var(--text-light);
    text-align: left;
    border-radius: 8px;
    border: 1px solid var(--white-mushroom);
    padding: 20px;
    position: absolute;
    right: 80px;
    top: 30px;
    z-index: 10;
    box-shadow: -5px 5px 20px rgba(0,0,0,0.7);
    transition: opacity 0.3s ease, visibility 0.3s;
    pointer-events: none;
}

.help-tooltip h3 {
    margin-top: 0;
    color: var(--chanterelle);
    font-size: 16px;
    border-bottom: 1px solid var(--moss);
    padding-bottom: 5px;
}

.help-tooltip p {
    font-size: 13px;
    line-height: 1.5;
    margin: 8px 0;
}

.help-trigger:hover .help-tooltip {
    visibility: visible;
    opacity: 1;
}